
.movie-card {
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(47, 46, 46);
    position: relative;

    overflow: hidden;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);

    z-index: 100;
}

.card-img {
    aspect-ratio: 2/3;
    overflow: hidden;
}

.card-img img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
    background: rgba(0, 0, 0, 0.80);
    overflow-y: auto;  
}

.card-title {
    font-size: larger;
    color: rgb(197, 59, 59);
    margin-bottom: 20px;    
}

.movie-card:hover .card-info{
    opacity: 1;
}

.card-details p {
    margin-bottom: 15px;
    color: white;
}

.overview {
    margin-top: 15px;
    font-size: small;
    line-height: 1.5;

}

