.movie-card {
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;

    position: relative;

    background-color: rgb(47, 46, 46);
}

.movie-card :hover {
    transform: scale(1.08);

    z-index: 100;
}

.card-img {
    display: block;
    aspect-ratio: 2/3;
    overflow: hidden;
}

.card-img img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
}

.card-title {
    font-size: larger;
    color: rgb(197, 59, 59);;
    
}

.movie-card:hover .card-info{

    opacity: 1;
}