.movie-card {
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;
}

.movie-card :hover {
    transform: scale(1.1);

    z-index: 100;
}

.card-img {
    display: block;
    aspect-ratio: 2/3;
    overflow: hidden;
}

.card-img img{
    display: block;
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 20px;
    opacity: 0;
    color: white;
}